.message {
    width: 100%;
    max-width: 575px;
    min-height: 77px;
    margin-left: auto;
    margin-bottom: 30px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 12px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.text {
    background: #0066CC;
    max-width: 527px;
    width: 100%;
    min-height: 60px;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    position: relative;
    border: none;
    padding: 7px 13px;
    text-align: end;
}

.text:after {
    content: '';
    position: absolute;
    right: -12px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18px 22px;
    border-color: transparent transparent #0066CC transparent;
    transform: scaleX(-1)
}

.name {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 3px;
}

.messageText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    white-space: pre-wrap;
}

.time {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    text-align: right;
    padding-right: 10px;
    margin-top: 4px;
}