.input:focus {
    border-color: #06c;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 12px;
    outline: none;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse; /* ошибка будет над инпутом */
    align-items: flex-start;
    gap: 4px;
}

.superInput {
    border-color: #D1D1D1;
}

.errorInput {
    border-color: #CC1439 !important;
}

.errorInput:focus {
    border: 1px solid #CC1439 !important;
}

.error {
    font-weight: 400;
    font-size: 10px;
    color: #cc1439;
}
