.radio {
    /* Прячем нативную кнопку */
    appearance: none;

    /* Размеры и позиционирование */
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0;

    /* Границы */
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;

    /* Курсор */
    cursor: pointer;

    /* Плавные переходы */
    transition: all 0.2s ease;

    /* Для выравнивания */
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.radio::before {
    content: '';

    /* Размеры внутреннего кружка */
    width: 12px;
    height: 12px;
    border-radius: 50%;

    /* Скрываем по умолчанию */
    opacity: 0;
    transform: scale(0);

    /* Плавные переходы */
    transition: all 0.2s ease;
}


.radio:checked::before {
    opacity: 1;
    transform: scale(1);
    background-color: #000;
}

.label {
    display: flex;
    gap: 11px;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-weight: 400;
    font-size: 16px;
    color: #000;

}
