.item {
    font-weight: 500;
    font-size: 14px;
    color: #000;
    height: 48px;
    border-bottom: 1px solid #e5e5e5; /* Разделитель между строками */
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    font-weight: 300;
    font-size: 14px;
    color: #000;
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse; /* Убираем двойные границы */
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.container {
    width: 100%;
    max-width: 606px;
    padding: 24px;
}

.thead {
    height: 36px;
    background: #e5e5e5;
}

.nameCol {
    font-weight: 600;
    font-size: 14px;
    color: #000;
    padding: 16px 17px;
    width: 50%; /* Задаем ширину колонки */
    text-align: left;
}

.ageCol {
    font-weight: 600;
    font-size: 14px;
    color: #000;
    padding: 16px 0;
    width: 50%; /* Задаем ширину колонки */
    text-align: left;
}