.App {
    --header_height: 60px;
}

.hw {
    width: 100%;
    min-height: 373px;
    padding: 30px 70px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.hwTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin: 40px 0 10px;
    padding-left: 70px;
}