.friendMessage {
    width: 100%;
    max-width: 462px;
    min-height: 77px;
    margin-right: auto;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.friendText {
    background: #F5F7FB;
    max-width: 414px;
    width: 100%;
    min-height: 60px;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    position: relative;
    border: none;
    padding: 8px 13px;
}

.friendText:after {
    content: '';
    position: absolute;
    left: -12px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18px 22px;
    border-color: transparent transparent #F5F7FB transparent;

}

.friendName {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-bottom: 4px;
}

.friendMessageText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    white-space: pre-wrap;
}

.friendTime {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
}
