.burgerMenuIcon {
    cursor: pointer;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 15px 70px;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}